crux-test-smart-gwt/xsd/core.xsd

<xs:schema 
xmlns="http://www.cruxframework.org/crux" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:_gwt="http://www.cruxframework.org/crux/gwt" 
xmlns:_smartgwt="http://www.cruxframework.org/crux/smartgwt" 
attributeFormDefault="unqualified" 
elementFormDefault="qualified" 
targetNamespace="http://www.cruxframework.org/crux" >
<xs:import schemaLocation="gwt.xsd" namespace="http://www.cruxframework.org/crux/gwt"/>
<xs:import schemaLocation="smartgwt.xsd" namespace="http://www.cruxframework.org/crux/smartgwt"/>
<xs:element name="splashScreen" type="SplashScreen">
<xs:annotation>
<xs:documentation>A splash screen component that is show while the Crux module is loading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="SplashScreen">
<xs:attribute name="style" type="xs:string"/>
<xs:attribute name="transactionDelay" type="xs:integer"/>
</xs:complexType>
<xs:element name="screen" type="Screen">
<xs:annotation>
<xs:documentation>Screen tag defines a root view, associated with the document page.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:group name="ScreenContent">
<xs:choice>
<xs:any minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:group>
<xs:complexType name="Screen" mixed="true">
<xs:group ref="ScreenContent" />
<xs:attribute name="title" type="xs:string"/>
<xs:attribute name="fragment" type="xs:string"/>
<xs:attribute name="useController" type="xs:string"/>
<xs:attribute name="useResource" type="xs:string"/>
<xs:attribute name="useFormatter" type="xs:string"/>
<xs:attribute name="useDataSource" type="xs:string"/>
<xs:attribute name="useView" type="xs:string"/>
<xs:attribute name="onClosing" type="xs:string"/>
<xs:attribute name="onClose" type="xs:string"/>
<xs:attribute name="onResized" type="xs:string"/>
<xs:attribute name="onLoad" type="xs:string"/>
<xs:attribute name="onActivate" type="xs:string"/>
<xs:attribute name="onHistoryChanged" type="xs:string"/>
<xs:attribute name="width" type="xs:string"/>
<xs:attribute name="height" type="xs:string"/>
<xs:attribute name="dataObject" type="xs:string"/>
<xs:attribute name="smallViewport" type="xs:string"/>
<xs:attribute name="largeViewport" type="xs:string"/>
<xs:attribute name="disableRefresh" type="xs:boolean" default="false" />
</xs:complexType>
<xs:element name="crossDevice" type="CrossDevice">
<xs:annotation>
<xs:documentation>A block of code that allow decision about what render on view, based on the device used to access the application.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="CrossDevice">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:group ref="widgetsCrossDev" />
<xs:element name="conditions" type="CrossDeviceConditions" >
<xs:annotation>
<xs:documentation>A set of conditions for a crossDevice tag.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:complexType name="CrossDeviceConditions">
<xs:sequence minOccurs="1" maxOccurs="unbounded">
<xs:element name="condition" type="CrossDeviceCondition" >
<xs:annotation>
<xs:documentation>A condition for a crossDevice tag.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CrossDeviceCondition">
<xs:choice minOccurs="1" maxOccurs="unbounded">
<xs:element name="parameter" type="CrossDeviceParameterCondition" >
<xs:annotation>
<xs:documentation>A parameter for a crossDevice tag condition.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:attribute name="when" type="DeviceType" use="required"/>
</xs:complexType>
<xs:complexType name="CrossDeviceParameterCondition">
<xs:attribute name="name" type="xs:string" use="required"/>
<xs:attribute name="value" type="xs:string" use="required"/>
</xs:complexType>
<xs:simpleType name="DeviceType">
<xs:restriction base="xs:string">
<xs:enumeration value="largeDisplayMouse" />
<xs:enumeration value="largeDisplayTouch" />
<xs:enumeration value="largeDisplayArrows" />
<xs:enumeration value="smallDisplayTouch" />
<xs:enumeration value="smallDisplayArrows" />
<xs:enumeration value="all" />
</xs:restriction>
</xs:simpleType>
<xs:group name="widgets">
<xs:choice>
<xs:element ref="_gwt:datePicker" />
<xs:element ref="_gwt:nativeHorizontalScrollbar" />
<xs:element ref="_gwt:deckPanel" />
<xs:element ref="_gwt:formPanel" />
<xs:element ref="_gwt:namedFrame" />
<xs:element ref="_gwt:scrollPanel" />
<xs:element ref="_gwt:cellTree" />
<xs:element ref="_gwt:simplePager" />
<xs:element ref="_gwt:anchor" />
<xs:element ref="_gwt:decoratedTabPanel" />
<xs:element ref="_gwt:tree" />
<xs:element ref="_gwt:button" />
<xs:element ref="_gwt:verticalSplitPanel" />
<xs:element ref="_gwt:simpleCheckBox" />
<xs:element ref="_gwt:dialogBox" />
<xs:element ref="_gwt:HTML" />
<xs:element ref="_gwt:hyperlink" />
<xs:element ref="_gwt:headerPanel" />
<xs:element ref="_gwt:pageSizePager" />
<xs:element ref="_gwt:pushButton" />
<xs:element ref="_gwt:video" />
<xs:element ref="_gwt:splitLayoutPanel" />
<xs:element ref="_gwt:decoratedPopupPanel" />
<xs:element ref="_gwt:stackLayoutPanel" />
<xs:element ref="_gwt:decoratorPanel" />
<xs:element ref="_gwt:submitButton" />
<xs:element ref="_gwt:fileUpload" />
<xs:element ref="_gwt:image" />
<xs:element ref="_gwt:canvas" />
<xs:element ref="_gwt:label" />
<xs:element ref="_gwt:dockPanel" />
<xs:element ref="_gwt:doubleBox" />
<xs:element ref="_gwt:layoutPanel" />
<xs:element ref="_gwt:captionPanel" />
<xs:element ref="_gwt:inlineHyperlink" />
<xs:element ref="_gwt:popupPanel" />
<xs:element ref="_gwt:frame" />
<xs:element ref="_gwt:toggleButton" />
<xs:element ref="_gwt:decoratedStackPanel" />
<xs:element ref="_gwt:radioButton" />
<xs:element ref="_gwt:inlineHTML" />
<xs:element ref="_gwt:suggestBox" />
<xs:element ref="_gwt:dateLabel" />
<xs:element ref="_gwt:horizontalPanel" />
<xs:element ref="_gwt:simpleRadioButton" />
<xs:element ref="_gwt:flexTable" />
<xs:element ref="_gwt:tabPanel" />
<xs:element ref="_gwt:cellList" />
<xs:element ref="_gwt:lazyPanel" />
<xs:element ref="_gwt:listBox" />
<xs:element ref="_gwt:simplePanel" />
<xs:element ref="_gwt:flowPanel" />
<xs:element ref="_gwt:dockLayoutPanel" />
<xs:element ref="_gwt:stackPanel" />
<xs:element ref="_gwt:focusPanel" />
<xs:element ref="_gwt:richTextArea" />
<xs:element ref="_gwt:cellWidget" />
<xs:element ref="_gwt:dateBox" />
<xs:element ref="_gwt:longBox" />
<xs:element ref="_gwt:passwordTextBox" />
<xs:element ref="_gwt:tabLayoutPanel" />
<xs:element ref="_gwt:absolutePanel" />
<xs:element ref="_gwt:textArea" />
<xs:element ref="_gwt:numberLabel" />
<xs:element ref="_gwt:disclosurePanel" />
<xs:element ref="_gwt:grid" />
<xs:element ref="_gwt:notificationMole" />
<xs:element ref="_gwt:verticalPanel" />
<xs:element ref="_gwt:menuBar" />
<xs:element ref="_gwt:integerBox" />
<xs:element ref="_gwt:horizontalSplitPanel" />
<xs:element ref="_gwt:audio" />
<xs:element ref="_gwt:HTMLPanel" />
<xs:element ref="_gwt:tabBar" />
<xs:element ref="_gwt:cellBrowser" />
<xs:element ref="_gwt:textBox" />
<xs:element ref="_gwt:cellTable" />
<xs:element ref="_gwt:nativeVerticalScrollbar" />
<xs:element ref="_gwt:resetButton" />
<xs:element ref="_gwt:checkBox" />
<xs:element ref="_gwt:hidden" />
<xs:element ref="_gwt:inlineLabel" />
<xs:element ref="_gwt:decoratedTabBar" />
<xs:element ref="_gwt:textButton" />
<xs:element ref="_smartgwt:treeGrid" />
<xs:element ref="_smartgwt:toolbar" />
<xs:element ref="_smartgwt:toolStripSeparator" />
<xs:element ref="_smartgwt:img" />
<xs:element ref="_smartgwt:navigationButton" />
<xs:element ref="_smartgwt:progressbar" />
<xs:element ref="_smartgwt:searchForm" />
<xs:element ref="_smartgwt:tileGrid" />
<xs:element ref="_smartgwt:edgedCanvas" />
<xs:element ref="_smartgwt:detailViewer" />
<xs:element ref="_smartgwt:tileLayout" />
<xs:element ref="_smartgwt:facetChart" />
<xs:element ref="_smartgwt:button" />
<xs:element ref="_smartgwt:colorPicker" />
<xs:element ref="_smartgwt:sectionHeader" />
<xs:element ref="_smartgwt:multiGroupDialog" />
<xs:element ref="_smartgwt:listPropertiesPane" />
<xs:element ref="_smartgwt:stretchImgButton" />
<xs:element ref="_smartgwt:imgSectionHeader" />
<xs:element ref="_smartgwt:rangeSlider" />
<xs:element ref="_smartgwt:multiFilePicker" />
<xs:element ref="_smartgwt:splitPane" />
<xs:element ref="_smartgwt:dateChooser" />
<xs:element ref="_smartgwt:menu" />
<xs:element ref="_smartgwt:iconButton" />
<xs:element ref="_smartgwt:canvas" />
<xs:element ref="_smartgwt:label" />
<xs:element ref="_smartgwt:columnTree" />
<xs:element ref="_smartgwt:gridRenderer" />
<xs:element ref="_smartgwt:sVG" />
<xs:element ref="_smartgwt:navigationBar" />
<xs:element ref="_smartgwt:listPropertiesDialog" />
<xs:element ref="_smartgwt:recordEditor" />
<xs:element ref="_smartgwt:simpleTile" />
<xs:element ref="_smartgwt:hLayout" />
<xs:element ref="_smartgwt:window" />
<xs:element ref="_smartgwt:vStack" />
<xs:element ref="_smartgwt:toolStripButton" />
<xs:element ref="_smartgwt:richTextEditor" />
<xs:element ref="_smartgwt:filterClause" />
<xs:element ref="_smartgwt:toolStripMenuButton" />
<xs:element ref="_smartgwt:vLayout" />
<xs:element ref="_smartgwt:eventWindow" />
<xs:element ref="_smartgwt:portlet" />
<xs:element ref="_smartgwt:snapbar" />
<xs:element ref="_smartgwt:slider" />
<xs:element ref="_smartgwt:toolStrip" />
<xs:element ref="_smartgwt:advancedHiliteEditor" />
<xs:element ref="_smartgwt:viewLoader" />
<xs:element ref="_smartgwt:batchUploader" />
<xs:element ref="_smartgwt:timeline" />
<xs:element ref="_smartgwt:cubeGrid" />
<xs:element ref="_smartgwt:toolStripResizer" />
<xs:element ref="_smartgwt:hStack" />
<xs:element ref="_smartgwt:filterBuilder" />
<xs:element ref="_smartgwt:printCanvas" />
<xs:element ref="_smartgwt:splitbar" />
<xs:element ref="_smartgwt:fieldPickerWindow" />
<xs:element ref="_smartgwt:scrollbar" />
<xs:element ref="_smartgwt:dateGrid" />
<xs:element ref="_smartgwt:imgButton" />
<xs:element ref="_smartgwt:iButton" />
<xs:element ref="_smartgwt:layout" />
<xs:element ref="_smartgwt:tabSet" />
<xs:element ref="_smartgwt:propertySheet" />
<xs:element ref="_smartgwt:applet" />
<xs:element ref="_smartgwt:portalLayout" />
<xs:element ref="_smartgwt:stretchImg" />
<xs:element ref="_smartgwt:hiliteEditor" />
<xs:element ref="_smartgwt:statefulCanvas" />
<xs:element ref="_smartgwt:dialog" />
<xs:element ref="_smartgwt:toolStripGroup" />
<xs:element ref="_smartgwt:imgSplitbar" />
<xs:element ref="_smartgwt:calendar" />
<xs:element ref="_smartgwt:menuBar" />
<xs:element ref="_smartgwt:HTMLPane" />
<xs:element ref="_smartgwt:ribbonGroup" />
<xs:element ref="_smartgwt:tabBar" />
<xs:element ref="_smartgwt:ribbonBar" />
<xs:element ref="_smartgwt:activeXControl" />
<xs:element ref="_smartgwt:sectionStack" />
<xs:element ref="_smartgwt:hiliteRule" />
<xs:element ref="_smartgwt:HTMLFlow" />
<xs:element ref="_smartgwt:flashlet" />
<xs:element ref="_smartgwt:browserPlugin" />
<xs:element ref="_smartgwt:dateRangeDialog" />
<xs:element ref="_smartgwt:printWindow" />
<xs:element ref="_smartgwt:tableView" />
<xs:element ref="_smartgwt:flowLayout" />
<xs:element ref="_smartgwt:treeMenuButton" />
<xs:element ref="_smartgwt:menuButton" />
<xs:element ref="_smartgwt:imgTab" />
<xs:element ref="_smartgwt:iMenuButton" />
<xs:element ref="_smartgwt:layoutSpacer" />
<xs:element ref="_smartgwt:listGrid" />
<xs:element ref="_smartgwt:dynamicForm" />
<xs:element ref="_smartgwt:iconMenuButton" />
<xs:element ref="crossDevice" />
</xs:choice>
</xs:group>
<xs:group name="widgetsCrossDev">
<xs:choice>
<xs:element ref="_gwt:datePicker" />
<xs:element ref="_gwt:nativeHorizontalScrollbar" />
<xs:element ref="_gwt:deckPanel" />
<xs:element ref="_gwt:formPanel" />
<xs:element ref="_gwt:namedFrame" />
<xs:element ref="_gwt:scrollPanel" />
<xs:element ref="_gwt:cellTree" />
<xs:element ref="_gwt:simplePager" />
<xs:element ref="_gwt:anchor" />
<xs:element ref="_gwt:decoratedTabPanel" />
<xs:element ref="_gwt:tree" />
<xs:element ref="_gwt:button" />
<xs:element ref="_gwt:verticalSplitPanel" />
<xs:element ref="_gwt:simpleCheckBox" />
<xs:element ref="_gwt:dialogBox" />
<xs:element ref="_gwt:HTML" />
<xs:element ref="_gwt:hyperlink" />
<xs:element ref="_gwt:headerPanel" />
<xs:element ref="_gwt:pageSizePager" />
<xs:element ref="_gwt:pushButton" />
<xs:element ref="_gwt:video" />
<xs:element ref="_gwt:splitLayoutPanel" />
<xs:element ref="_gwt:decoratedPopupPanel" />
<xs:element ref="_gwt:stackLayoutPanel" />
<xs:element ref="_gwt:decoratorPanel" />
<xs:element ref="_gwt:submitButton" />
<xs:element ref="_gwt:fileUpload" />
<xs:element ref="_gwt:image" />
<xs:element ref="_gwt:canvas" />
<xs:element ref="_gwt:label" />
<xs:element ref="_gwt:dockPanel" />
<xs:element ref="_gwt:doubleBox" />
<xs:element ref="_gwt:layoutPanel" />
<xs:element ref="_gwt:captionPanel" />
<xs:element ref="_gwt:inlineHyperlink" />
<xs:element ref="_gwt:popupPanel" />
<xs:element ref="_gwt:frame" />
<xs:element ref="_gwt:toggleButton" />
<xs:element ref="_gwt:decoratedStackPanel" />
<xs:element ref="_gwt:radioButton" />
<xs:element ref="_gwt:inlineHTML" />
<xs:element ref="_gwt:suggestBox" />
<xs:element ref="_gwt:dateLabel" />
<xs:element ref="_gwt:horizontalPanel" />
<xs:element ref="_gwt:simpleRadioButton" />
<xs:element ref="_gwt:flexTable" />
<xs:element ref="_gwt:tabPanel" />
<xs:element ref="_gwt:cellList" />
<xs:element ref="_gwt:lazyPanel" />
<xs:element ref="_gwt:listBox" />
<xs:element ref="_gwt:simplePanel" />
<xs:element ref="_gwt:flowPanel" />
<xs:element ref="_gwt:dockLayoutPanel" />
<xs:element ref="_gwt:stackPanel" />
<xs:element ref="_gwt:focusPanel" />
<xs:element ref="_gwt:richTextArea" />
<xs:element ref="_gwt:cellWidget" />
<xs:element ref="_gwt:dateBox" />
<xs:element ref="_gwt:longBox" />
<xs:element ref="_gwt:passwordTextBox" />
<xs:element ref="_gwt:tabLayoutPanel" />
<xs:element ref="_gwt:absolutePanel" />
<xs:element ref="_gwt:textArea" />
<xs:element ref="_gwt:numberLabel" />
<xs:element ref="_gwt:disclosurePanel" />
<xs:element ref="_gwt:grid" />
<xs:element ref="_gwt:notificationMole" />
<xs:element ref="_gwt:verticalPanel" />
<xs:element ref="_gwt:menuBar" />
<xs:element ref="_gwt:integerBox" />
<xs:element ref="_gwt:horizontalSplitPanel" />
<xs:element ref="_gwt:audio" />
<xs:element ref="_gwt:HTMLPanel" />
<xs:element ref="_gwt:tabBar" />
<xs:element ref="_gwt:cellBrowser" />
<xs:element ref="_gwt:textBox" />
<xs:element ref="_gwt:cellTable" />
<xs:element ref="_gwt:nativeVerticalScrollbar" />
<xs:element ref="_gwt:resetButton" />
<xs:element ref="_gwt:checkBox" />
<xs:element ref="_gwt:hidden" />
<xs:element ref="_gwt:inlineLabel" />
<xs:element ref="_gwt:decoratedTabBar" />
<xs:element ref="_gwt:textButton" />
<xs:element ref="_smartgwt:treeGrid" />
<xs:element ref="_smartgwt:toolbar" />
<xs:element ref="_smartgwt:toolStripSeparator" />
<xs:element ref="_smartgwt:img" />
<xs:element ref="_smartgwt:navigationButton" />
<xs:element ref="_smartgwt:progressbar" />
<xs:element ref="_smartgwt:searchForm" />
<xs:element ref="_smartgwt:tileGrid" />
<xs:element ref="_smartgwt:edgedCanvas" />
<xs:element ref="_smartgwt:detailViewer" />
<xs:element ref="_smartgwt:tileLayout" />
<xs:element ref="_smartgwt:facetChart" />
<xs:element ref="_smartgwt:button" />
<xs:element ref="_smartgwt:colorPicker" />
<xs:element ref="_smartgwt:sectionHeader" />
<xs:element ref="_smartgwt:multiGroupDialog" />
<xs:element ref="_smartgwt:listPropertiesPane" />
<xs:element ref="_smartgwt:stretchImgButton" />
<xs:element ref="_smartgwt:imgSectionHeader" />
<xs:element ref="_smartgwt:rangeSlider" />
<xs:element ref="_smartgwt:multiFilePicker" />
<xs:element ref="_smartgwt:splitPane" />
<xs:element ref="_smartgwt:dateChooser" />
<xs:element ref="_smartgwt:menu" />
<xs:element ref="_smartgwt:iconButton" />
<xs:element ref="_smartgwt:canvas" />
<xs:element ref="_smartgwt:label" />
<xs:element ref="_smartgwt:columnTree" />
<xs:element ref="_smartgwt:gridRenderer" />
<xs:element ref="_smartgwt:sVG" />
<xs:element ref="_smartgwt:navigationBar" />
<xs:element ref="_smartgwt:listPropertiesDialog" />
<xs:element ref="_smartgwt:recordEditor" />
<xs:element ref="_smartgwt:simpleTile" />
<xs:element ref="_smartgwt:hLayout" />
<xs:element ref="_smartgwt:window" />
<xs:element ref="_smartgwt:vStack" />
<xs:element ref="_smartgwt:toolStripButton" />
<xs:element ref="_smartgwt:richTextEditor" />
<xs:element ref="_smartgwt:filterClause" />
<xs:element ref="_smartgwt:toolStripMenuButton" />
<xs:element ref="_smartgwt:vLayout" />
<xs:element ref="_smartgwt:eventWindow" />
<xs:element ref="_smartgwt:portlet" />
<xs:element ref="_smartgwt:snapbar" />
<xs:element ref="_smartgwt:slider" />
<xs:element ref="_smartgwt:toolStrip" />
<xs:element ref="_smartgwt:advancedHiliteEditor" />
<xs:element ref="_smartgwt:viewLoader" />
<xs:element ref="_smartgwt:batchUploader" />
<xs:element ref="_smartgwt:timeline" />
<xs:element ref="_smartgwt:cubeGrid" />
<xs:element ref="_smartgwt:toolStripResizer" />
<xs:element ref="_smartgwt:hStack" />
<xs:element ref="_smartgwt:filterBuilder" />
<xs:element ref="_smartgwt:printCanvas" />
<xs:element ref="_smartgwt:splitbar" />
<xs:element ref="_smartgwt:fieldPickerWindow" />
<xs:element ref="_smartgwt:scrollbar" />
<xs:element ref="_smartgwt:dateGrid" />
<xs:element ref="_smartgwt:imgButton" />
<xs:element ref="_smartgwt:iButton" />
<xs:element ref="_smartgwt:layout" />
<xs:element ref="_smartgwt:tabSet" />
<xs:element ref="_smartgwt:propertySheet" />
<xs:element ref="_smartgwt:applet" />
<xs:element ref="_smartgwt:portalLayout" />
<xs:element ref="_smartgwt:stretchImg" />
<xs:element ref="_smartgwt:hiliteEditor" />
<xs:element ref="_smartgwt:statefulCanvas" />
<xs:element ref="_smartgwt:dialog" />
<xs:element ref="_smartgwt:toolStripGroup" />
<xs:element ref="_smartgwt:imgSplitbar" />
<xs:element ref="_smartgwt:calendar" />
<xs:element ref="_smartgwt:menuBar" />
<xs:element ref="_smartgwt:HTMLPane" />
<xs:element ref="_smartgwt:ribbonGroup" />
<xs:element ref="_smartgwt:tabBar" />
<xs:element ref="_smartgwt:ribbonBar" />
<xs:element ref="_smartgwt:activeXControl" />
<xs:element ref="_smartgwt:sectionStack" />
<xs:element ref="_smartgwt:hiliteRule" />
<xs:element ref="_smartgwt:HTMLFlow" />
<xs:element ref="_smartgwt:flashlet" />
<xs:element ref="_smartgwt:browserPlugin" />
<xs:element ref="_smartgwt:dateRangeDialog" />
<xs:element ref="_smartgwt:printWindow" />
<xs:element ref="_smartgwt:tableView" />
<xs:element ref="_smartgwt:flowLayout" />
<xs:element ref="_smartgwt:treeMenuButton" />
<xs:element ref="_smartgwt:menuButton" />
<xs:element ref="_smartgwt:imgTab" />
<xs:element ref="_smartgwt:iMenuButton" />
<xs:element ref="_smartgwt:layoutSpacer" />
<xs:element ref="_smartgwt:listGrid" />
<xs:element ref="_smartgwt:dynamicForm" />
<xs:element ref="_smartgwt:iconMenuButton" />
</xs:choice>
</xs:group>
</xs:schema>
